
<div class="MainDiv">
<h1>Password Generator for yafit hamilton</h1>

<div class="InfoDiv">
  <label>Enter Length</label>
  <input (input)="onChangeLenght($event)"/>
</div>

<div class="OptinDiv">
  <label> Use Letters</label>
  <input (change)="OnChangeUseLetters()" type="checkbox"/>
</div>

<div class="OptinDiv">
  <label> Use numbers</label>
  <input  (change)="OnChangeUseNumbers()" type="checkbox"/>
</div>

<div>
  <label> use Symbols</label>
  <input (change)="OnChangeUseSymbols()" type="checkbox"/>
</div>

<button  class="InfoDiv"  (click)="OnButtonClick()">Generate!</button>


<div *ngIf="password">
  <label> your password</label>
  <input [value]="password"/>
</div>
</div>